div {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 100%;
}

li {
	margin: 20px;
}

li :hover {
	border-bottom: 2px solid black;
}

a {
	text-decoration: none;
	color: black;
}

span {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	margin-top: 10px;
}

