<div class="container">
  <span>
    <h2>{{ title }}</h2>
  </span>
  <span>
    <ul>
      <li>
        <a
          [ngStyle]="{
            'border-bottom': title === 'Theses' ? '2px solid black' : 'none'
          }"
          routerLink="/"
          >Home</a
        >
      </li>
      <li>
        <a
          [ngStyle]="{
            'border-bottom': title === 'Add Thesis' ? '2px solid black' : 'none'
          }"
          routerLink="/addThesis"
        >
          Add Thesis
        </a>
      </li>
    </ul>
  </span>
</div>
