<div class="container">
  <form
    class="form-horizontal"
    [formGroup]="documentForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group">
      <div class="col-sm-12">
        <label for="title"
          ><strong>Title </strong
          ><span *ngIf="title.errors?.required">*</span></label
        >
        <div>
          <input
            class="form-control"
            id="title"
            type="text"
            formControlName="title"
          />
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="author"
          ><strong>Author </strong
          ><span *ngIf="author.errors?.required">*</span>
        </label>
        <input
          class="form-control"
          id="author"
          type="text"
          formControlName="author"
        />
      </div>
    </div>

    <div class="split">
      <div class="col-md-5">
        <label for="college"
          ><strong>College </strong
          ><span *ngIf="college.errors?.required">*</span></label
        >
        <select
          class="form-control"
          name="college"
          id="college"
          formControlName="college"
          (change)="onCollegeSelected()"
          required
        >
          <option value="" disabled selected>Select College</option>
          <option *ngFor="let college of colleges" value="{{ college }}">
            {{ college }}
          </option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="department"
          ><strong>Department</strong
          ><span *ngIf="department.errors?.required"> *</span></label
        >
        <select
          class="form-control"
          name="department"
          id="department"
          formControlName="department"
          required
        >
          <option value="" disabled selected>Select Department</option>
          <option
            *ngFor="let department of departments"
            value="{{ department }}"
          >
            {{ department }}
          </option>
        </select>
      </div>
    </div>

    <div class="split">
      <div class="col-md-5">
        <label for="dateDefended"
          ><strong>Date Defended </strong
          ><span *ngIf="dateDefended.errors?.required">*</span>
        </label>
        <input
          class="form-control"
          id="dateDefended"
          type="date"
          formControlName="dateDefended"
        />
      </div>
      <div class="col-md-6">
        <label for="file"
          ><strong>File </strong
          ><span *ngIf="file.errors?.required">*</span></label
        >
        <input
          class="form-control"
          id="file"
          type="file"
          formControlName="file"
          (change)="onFileChange($event)"
        />
      </div>
    </div>
    <div class="button-group">
      <div>
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!documentForm.valid"
        >
          Submit
        </button>
      </div>
      <div (click)="clearInput()">
        <button class="btn btn-secondary">Reset</button>
      </div>
    </div>
  </form>
</div>
