a {
  font-family: inherit;
  color: white;
  text-decoration: none;
}

span {
  color: red;
}

button {
  width: 90px;
  height: 40px;
  margin: 10px 10px 0 0;
}

.split {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 10px;
}

.button-group {
  display: flex;
}

.container {
  margin-top: 10px;
}
