<div class="container">
  <h1>Theses</h1>
  <button class="btn btn-primary">
    <a routerLink="/addThesis">Add Thesis</a>
  </button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">College</th>
        <th scope="col">Department</th>
        <th scope="col">Date</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody *ngIf="documents">
      <tr *ngFor="let document of documents">
        <td>{{ document.title }}</td>
        <td>{{ document.author }}</td>
        <td>{{ document.college }}</td>
        <td>{{ document.department }}</td>
        <td>{{ document.date }}</td>
        <td>
          <button class="btn btn-success" (click)="goTo(document.filePath)">
            View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
